.welcome {
    margin: 0 auto;
    min-height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--back-mage);
    background-size: cover;
}

.welcome__ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
}

.welcome__li {
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .015em;
    padding: 0 10px 0;
}

@media screen and (max-width: 1024px) {
    .welcome {
        min-height: 400px;
    }
    .welcome__li {
        line-height: 40px;
        letter-spacing: .015em;
    }
}