.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/back.svg);
    background-size: cover;
}

.about__container {
    display: flex;
    flex-direction: column;
}

.about__container-caption {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about__container-title {
    display: flex;
    justify-content: center;
    font-family: 'Buyan';
    font-size: 40px;
    letter-spacing: .1em;
}

@media screen and (max-width: 1024px) {
    .about {
        min-height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .about__container {
        margin: 0 auto;
        display: grid;
    }
}

@media screen and (max-width: 320px) {
    .about__container-title {
        text-align: center;
    }
}

@media screen and (max-width: 280px) {
    .about__container-title {
        text-align: center;
    }
}