.about__container-grid {
    max-width: 500px;
    margin: 30px 20px 20px;
    opacity: 0;
    position: relative;
}

.about__container-grid:nth-child(2n+1) {
    animation: slideInRight 1s linear;
    animation-fill-mode: forwards;
}

.about__container-grid:nth-child(2n) {
    animation: slideInLeft 1s linear;
    animation-fill-mode: forwards;
}

.about__container-grid:last-child {
    animation: slideInTop 1s linear;
    animation-fill-mode: forwards;
}

.about__container-grid-ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.about__container-grid-ul-li {
    font-size: 15px;
    line-height: 35px;
    letter-spacing: .001em;
    font-weight: 500;
    text-align: center;
}

.about__container-grid-ul-li:nth-child(1) {
    font-size: 18px;
    font-weight: 800;
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        right: 100px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        left: 100px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes slideInTop {
    0% {
        opacity: 0;
        top: 100px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1186px) {
    .about__container-grid-ul-li {
        font-size: 11.8px;
    }
}

@media screen and (max-width: 1024px) {
    .about__container-grid {
        margin-left: 10px;
    }

    .about__container-grid-ul-li {
        line-height: 40px;
    }
}

@media screen and (max-width: 767px) {
    .about__container-grid {
        margin: 15px auto 0;
        text-align: center;
    }

    .about__container-grid:last-child {
        margin: 15px auto 0;
    }

    .about__container-grid-ul-li {
        line-height: 50px;
    }

    .about__container-grid-ul-li:nth-child(1) {
        font-size: 16px;
    }
}